### Notebook to format the BDRhapsody data from Seven Bridges into an `anndata` object with raw counts in `adata.X`

- **Developed by:** Carlos Talavera-López Ph.D
- **Institute of Computational Biology - Computational Health Centre - Helmholtz Munich**
- v230314

### Import required modules

In [1]:
import anndata
import pandas as pd
import scanpy as sc
import datatable as dt

### Set up working environment

In [2]:
BDdata = '/Volumes/A7V/nobackup/raw_data/single_cell/COPD_IAV/sevenbridges_raw/grch38-iav/'

### Read in _BD Rhapsody_ files for Versuch_1

- UMIs are called _Raw_Molecules_
- Genes/Features are called _Bioproduct_
- Sample Tag Version: hs | Sample Tag Names: 7-CSE_CTRL ; 8-GnR_CTRL ; 9-CSE_IAV ; 10-GnR_IAV

In [3]:
BDr_1 = dt.fread(BDdata + 'Versuch_1/V1-newref_SampleTag07_hs_CSE_CTRL/V1-newref_SampleTag07_hs_CSE_CTRL_RSEC_ReadsPerCell.csv', header = True, skip_to_line = 8).to_pandas().T
BDr_1.columns = BDr_1.iloc[0]
BDr_1 = BDr_1.iloc[1:]
adata_1 = sc.AnnData(BDr_1.T, dtype = 'int64')
adata_1

/Users/cartalop/mambaforge/envs/scanpy/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

AnnData object with n_obs × n_vars = 6056 × 28388

In [4]:
adata_1.obs['sex'] = 'male'
adata_1.obs['age'] = '67'
adata_1.obs['ethnicity'] = 'caucasian'
adata_1.obs['PaCO2'] = '88.8'
adata_1.obs['donor'] = 'GNR-06'
adata_1.obs['infection'] = 'CTRL'
adata_1.obs['disease'] = 'healthy'
adata_1.obs['SMK'] = '7'
adata_1.obs['illumina_stimunr'] = '21_0017'
adata_1.obs['bd_rhapsody'] = '1'
adata_1.obs.head()

,sex,age,ethnicity,PaCO2,donor,infection,disease,SMK,illumina_stimunr,bd_rhapsody
Cell_Index,,,,,,,,,,
80307,male,67,caucasian,88.8,GNR-06,CTRL,healthy,7,21_0017,1
339288,male,67,caucasian,88.8,GNR-06,CTRL,healthy,7,21_0017,1
460986,male,67,caucasian,88.8,GNR-06,CTRL,healthy,7,21_0017,1
401039,male,67,caucasian,88.8,GNR-06,CTRL,healthy,7,21_0017,1
312661,male,67,caucasian,88.8,GNR-06,CTRL,healthy,7,21_0017,1

In [5]:
BDr_2 = dt.fread(BDdata + 'Versuch_1/V1-newref_SampleTag08_hs_GnR_CTRL/V1-newref_SampleTag08_hs_GnR_CTRL_RSEC_ReadsPerCell.csv', header = True, skip_to_line = 8).to_pandas().T
BDr_2.columns = BDr_2.iloc[0]
BDr_2 = BDr_2.iloc[1:]
adata_2 = sc.AnnData(BDr_2.T, dtype = 'int64')
adata_2

/Users/cartalop/mambaforge/envs/scanpy/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

AnnData object with n_obs × n_vars = 5268 × 28388

In [6]:
adata_2.obs['sex'] = 'male'
adata_2.obs['age'] = '67'
adata_2.obs['ethnicity'] = 'caucasian'
adata_2.obs['PaCO2'] = '88.8'
adata_2.obs['donor'] = 'GNR-06'
adata_2.obs['infection'] = 'IAV'
adata_2.obs['disease'] = 'healthy'
adata_2.obs['SMK'] = '8'
adata_2.obs['illumina_stimunr'] = '21_0017'
adata_2.obs['bd_rhapsody'] = '1'
adata_2.obs.head()

,sex,age,ethnicity,PaCO2,donor,infection,disease,SMK,illumina_stimunr,bd_rhapsody
Cell_Index,,,,,,,,,,
40194,male,67,caucasian,88.8,GNR-06,IAV,healthy,8,21_0017,1
445567,male,67,caucasian,88.8,GNR-06,IAV,healthy,8,21_0017,1
810483,male,67,caucasian,88.8,GNR-06,IAV,healthy,8,21_0017,1
605493,male,67,caucasian,88.8,GNR-06,IAV,healthy,8,21_0017,1
220116,male,67,caucasian,88.8,GNR-06,IAV,healthy,8,21_0017,1

In [7]:
BDr_3 = dt.fread(BDdata + 'Versuch_1/V1-newref_SampleTag09_hs_CSE_IAV/V1-newref_SampleTag09_hs_CSE_IAV_RSEC_ReadsPerCell.csv', header = True, skip_to_line = 8).to_pandas().T
BDr_3.columns = BDr_3.iloc[0]
BDr_3 = BDr_3.iloc[1:]
adata_3 = sc.AnnData(BDr_3.T, dtype = 'int64')
adata_3

/Users/cartalop/mambaforge/envs/scanpy/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

AnnData object with n_obs × n_vars = 5237 × 28388

In [8]:
adata_3.obs['sex'] = 'male'
adata_3.obs['age'] = '79'
adata_3.obs['ethnicity'] = 'caucasian'
adata_3.obs['PaCO2'] = '73.3'
adata_3.obs['donor'] = 'CSE-07'
adata_3.obs['infection'] = 'CTRL'
adata_3.obs['disease'] = 'COPD'
adata_3.obs['SMK'] = '9'
adata_3.obs['illumina_stimunr'] = '21_0017'
adata_3.obs['bd_rhapsody'] = '1'
adata_3.obs.head()

,sex,age,ethnicity,PaCO2,donor,infection,disease,SMK,illumina_stimunr,bd_rhapsody
Cell_Index,,,,,,,,,,
276878,male,79,caucasian,73.3,CSE-07,CTRL,COPD,9,21_0017,1
205994,male,79,caucasian,73.3,CSE-07,CTRL,COPD,9,21_0017,1
849686,male,79,caucasian,73.3,CSE-07,CTRL,COPD,9,21_0017,1
31680,male,79,caucasian,73.3,CSE-07,CTRL,COPD,9,21_0017,1
662579,male,79,caucasian,73.3,CSE-07,CTRL,COPD,9,21_0017,1

In [9]:
BDr_4 = dt.fread(BDdata + 'Versuch_1/V1-newref_SampleTag10_hs_GnR_IAV/V1-newref_SampleTag10_hs_GnR_IAV_RSEC_ReadsPerCell.csv', header = True, skip_to_line = 8).to_pandas().T
BDr_4.columns = BDr_4.iloc[0]
BDr_4 = BDr_4.iloc[1:]
adata_4 = sc.AnnData(BDr_4.T, dtype = 'int64')
adata_4

/Users/cartalop/mambaforge/envs/scanpy/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

AnnData object with n_obs × n_vars = 4910 × 28388

In [10]:
adata_4.obs['sex'] = 'male'
adata_4.obs['age'] = '79'
adata_4.obs['ethnicity'] = 'caucasian'
adata_4.obs['PaCO2'] = '73.3'
adata_4.obs['donor'] = 'CSE-07'
adata_4.obs['infection'] = 'IAV'
adata_4.obs['disease'] = 'COPD'
adata_4.obs['SMK'] = '10'
adata_4.obs['illumina_stimunr'] = '21_0017'
adata_4.obs['bd_rhapsody'] = '1'
adata_4.obs.head()

,sex,age,ethnicity,PaCO2,donor,infection,disease,SMK,illumina_stimunr,bd_rhapsody
Cell_Index,,,,,,,,,,
72869,male,79,caucasian,73.3,CSE-07,IAV,COPD,10,21_0017,1
649229,male,79,caucasian,73.3,CSE-07,IAV,COPD,10,21_0017,1
56046,male,79,caucasian,73.3,CSE-07,IAV,COPD,10,21_0017,1
415760,male,79,caucasian,73.3,CSE-07,IAV,COPD,10,21_0017,1
22823,male,79,caucasian,73.3,CSE-07,IAV,COPD,10,21_0017,1

### Save individual objects

In [11]:
adata_1.write('/Volumes/A7V/nobackup/raw_data/single_cell/COPD_IAV/sevenbridges_raw/grch38-iav/Versuch_1/Versuch_1_grch38-iav_ST07_CSE_CTRL_GEX.h5ad')
adata_2.write('/Volumes/A7V/nobackup/raw_data/single_cell/COPD_IAV/sevenbridges_raw/grch38-iav/Versuch_1/Versuch_1_grch38-iav_ST08_GnR_CTRL_GEX.h5ad')
adata_3.write('/Volumes/A7V/nobackup/raw_data/single_cell/COPD_IAV/sevenbridges_raw/grch38-iav/Versuch_1/Versuch_1_grch38-iav_ST09_CSE_IAV_GEX.h5ad')
adata_4.write('/Volumes/A7V/nobackup/raw_data/single_cell/COPD_IAV/sevenbridges_raw/grch38-iav/Versuch_1/Versuch_1_grch38-iav_ST10_GnR_IAV_GEX.h5ad')

In [12]:
adata_1.X

array([[  0,   0,   0, ...,   4, 122,   0],
       [  0,   0,   0, ...,   7,  36,   1],
       [  0,   0,   0, ...,   0,  20,   0],
       ...,
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0]])